*{    
    font-family: Lato;
    font-size: 1.2vw;
}
*, *::before, *::after { box-sizing: border-box}


nav{
    background-color: #3D9970;
}
nav ul{
    margin: auto;
    width: fit-content;
    padding: 2vw;
}
nav ul li{
    display: inline;
    list-style-type: none;
    padding: 1vw;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: bold;
}
#active{
    color: #AAAAAA;
}
header{
    width: fit-content;
    margin: auto;
    background-image: url(../img/exam.jpeg);
    background-size: 100vw;
    height: 40vw;
    width: 97.7vw;
    background-attachment: fixed;
}

header h1{
    margin: auto;
    width: fit-content;
    padding-top:20vw;
    font-size: 2.5vw;
    color: #FFFFFF

}

header img{
    padding: 2vw 0 2vw 0;
    width: 75vw;
    height: 45vw;
}
hr{
    height: 0.1vw; 
    background-color: #3D9970;
    border: none;
}
h1{
    font-size: 1.5vw;
}
section{
    width: 75vw;
    padding: 2vw 0 2vw 0;
    margin: auto;
}
section p a{
    text-decoration: none;
    color: #3D9970;
}
section #title{
    text-align: center;
    font-size: 1.75vw;
    font-weight: bold;
    padding: 2vw;
}
section .options{
    display: flex;
}

section #quizzes{
    display: flex;
    margin: auto;
    width: fit-content;
}

section #quiz-box{
    border: 0.1vw solid #AAAAAA;
    border-radius: 1.5vw;
    width: fit-content;
    text-align: center;
    margin: 1vw 0.1vw;
}
section #quiz-box ul{
    width: fit-content;
    margin: auto;
    padding: 1vw;
}
section #quiz-box ul ul{
    float: left;
}
section #quiz-box ul ul li{
    list-style: none;
    text-align: center;
    padding-bottom: 1.25vw;
    font-weight: bold;
}
section #quiz-box ul ul:first-child li{
    color: #AAAAAA;
}
section #quiz-box button{
    border: 0.2vw solid #3D9970;
    font-weight: bold;
    padding: 0.4vw 1.5vw;
    background-color: #AAAAAA;
    text-decoration-line: underline;
    margin-bottom: 1.25vw;
}
section #quiz-box button a{
    color: rgb(0, 0, 0);
}

section .question{
    padding: 1vw 0 1vw 0;
}
section .options p{
    padding: 0 1vw;
}
section fieldset{
    border: none;
}
section #submit{
    width: fit-content;
    margin: auto;
}
section form #ready{
    display: inline;
    padding: 0 2vw;
}
form input[type=radio]{

}
form input[type=button]{
    border: 0.2vw solid #3D9970;
    font-weight: bold;
    padding: 0.4vw 1.5vw;
    background-color: #AAAAAA;
    text-decoration-line: underline;
}
.question{
    font-weight: bold;
}
footer{
    background-color: #3D9970;
}
footer ul{
    width: fit-content;
    margin: auto;
    padding: 1vw;
}
footer ul ul{
    display: inline;
    float: left;
    padding: 1vw 2vw 0 2vw;
}
footer ul ul li{
    list-style: none;
    text-align: center;
    padding-bottom: 1vw;
}
footer ul ul li a{
    text-decoration: none;
}
.footer-h-link{
    font-weight: bold;
    color: black;
}
.footer-link{
    color: #FFFFFF;
}
footer #copyright{
    width: fit-content;
    margin: auto;
    padding: 1vw;
    color: #FFFFFF;
}
#final-message{
    visibility: hidden;
}
#imgs-ans img{
    height: 7.5vw;
    width: auto;
    padding: 1vw 8vw ;
}
#imgs-ans {
    text-align: center;
}